<ul class="flex gap-5 text-slate-600 text-sm cursor-pointer">
    <li class="hover:border-b-2 hover:border-black">All Categories </li>
    <li class="hover:border-b-2 hover:border-black">New </li>
    <li class="hover:border-b-2 hover:border-black">Men Fashion </li>
    <li class="hover:border-b-2 hover:border-black">Women Fashion </li>
    <li class="hover:border-b-2 hover:border-black">Kids </li>
    <li class="hover:border-b-2 hover:border-black">Accessories </li>


</ul>
@code {

}
