
<section class="w-full p-5 flex justify-center mt-5">
    <img src="https://img.ltwebstatic.com/images3_ccc/2023/09/18/02/16950065745944f4458b33c64b5368f93f8df6e5ac_thumbnail_2000x.webp"
         class="rounded-sm h-[600px]" />
</section>



@code {

}
