<ul class="flex gap-5 text-slate-600 text-sm cursor-pointer category">
    <li class="">All Categories </li>
    <li class="">New </li>
    <li class="">Men Fashion </li>
    <li class="">Women Fashion </li>
    <li class="">Kids </li>
    <li class="">Accessories </li>
</ul>