<ul class="flex gap-5 text-slate-600 text-sm cursor-pointer category p-5">
    <button @onclick='() => Redirect("/shop/all")'>
    <li class="">All Categories</li>
    </button>
    <li class="">New </li>
    <button @onclick='() => Redirect("/shop/men")'>
        <li class="">Mens Fashion</li>
    </button>

    <button @onclick='() => Redirect("/shop/women")'>
    <li class="">Womens Fashion</li>
    </button>
    <li class="">Kids </li>
    <li class="">Accessories </li>
</ul>