<section class="h-screen">
    <div class="py-8 px-4 mx-auto  lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-blue-600">@Message</h1>
            <a href="/shop/all" class="inline-flex  bg-black text-white hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  my-4">Shop Now</a>
        </div>
    </div>
</section>






@code {

}
