<header class="p-5 w-full h-[8vh] flex justify-between items-center shadow-md border-b border-gray-100 bg-white">
    <a href="/shop/all">
        <h1 class="text-3xl font-bold"> ASPECT</h1>
</a>
     
      <div class="flex gap-5 items-center ">
        <input type="text"
               class="bg-gray-100 rounded-sm h-[80%] p-2 mobile:block hidden"
               placeholder="Search an Item"
               @bind="value"
               @oninput="HandleChange"
         />

        
        <div class="mobile:hidden block">
            <i class="fa-solid fa-bars" ></i>
        </div>

        <a href="/orders">
            <span class="material-symbols-outlined text-3xl text-slate-800 mobile:block hidden cursor-pointer">
                person
            </span>
        </a>
       
        @if(!IsEmpty)
        {
            
            <a href="/cart">
                <i class="fa-solid fa-cart-shopping cursor-pointer"></i>
            </a>
        }

        <button @onclick="() => HandleLogin()">
            <i class="fa fa-sign-out cursor-pointer" aria-hidden="true"></i>
        </button>






    </div>
    </header>