<div>
    <section class="w-full border-t border-gray-100 mt-5">
        <div class="w-full  bg-gray-200 p-5">
            <div class="w-full text-center">
                <h1 class="font-bold text-2xl">Reviews</h1>
                <div class="w-full flex p-5 mt-5">
                    <div class="w-1/2   flex justify-evenly">
                        <div class="w-[100px] h-[100px] rounded-full bg-black text-white font-bold text-2xl  flex justify-center items-center">
                            <span>4.0</span>
                        </div>
                        <div>
                            <div class="flex gap-3">
                                <div class="flex items-center space-x-1">
                                    <svg class="w-4 h-4 text-yellow-500"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor"
                                         viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-500"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor"
                                         viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-500"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor"
                                         viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-500"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor"
                                         viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                    <svg class="w-4 h-4 text-gray-300 dark:text-gray-500"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor"
                                         viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                </div>
                                <p>
                                    <span class="font-semibold mr-1">150</span>reviews
                                </p>
                            </div>

                            <button class="bg-white font-semibold mt-3 py-2 px-6 rounded-xl shadow-md" @onclick="ToggleReviewModal">
                                Write a review
                            </button>
                        </div>
                    </div>
                    <div class="w-1/2 ">
                        <div class="gap-8 sm:grid sm:grid-cols-2">
                            <div>
                                <dl>
                                    <dd class="flex items-center mb-3 justify-around font-semibold text-sm">
                                        5 Star
                                        <div class=" bg-gray-300 rounded h-2.5 w-[70%] mr-2">
                                            <div class="bg-yellow-400 h-2.5 rounded  w-[89%]"></div>
                                        </div>
                                        <span class="text-sm font-medium text-gray-500 dark:text-gray-400">
                                            (10)
                                        </span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd class="flex items-center mb-3 justify-around font-semibold text-sm">
                                        4 Star
                                        <div class=" bg-gray-300 rounded h-2.5 w-[70%] mr-2">
                                            <div class="bg-yellow-400 h-2.5 rounded  w-[30%]"></div>
                                        </div>
                                        <span class="text-sm font-medium text-gray-500 dark:text-gray-400">
                                            (10)
                                        </span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd class="flex items-center mb-3 justify-around font-semibold text-sm">
                                        3 Star
                                        <div class=" bg-gray-300 rounded h-2.5 w-[70%] mr-2">
                                            <div class="bg-yellow-400 h-2.5 rounded  w-[89%]"></div>
                                        </div>
                                        <span class="text-sm font-medium text-gray-500 dark:text-gray-400">
                                            (10)
                                        </span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd class="flex items-center mb-3 justify-around font-semibold text-sm">
                                        2 Star
                                        <div class=" bg-gray-300 rounded h-2.5 w-[70%] mr-2">
                                            <div class="bg-yellow-400 h-2.5 rounded  w-[19%]"></div>
                                        </div>
                                        <span class="text-sm font-medium text-gray-500 dark:text-gray-400">
                                            (10)
                                        </span>
                                    </dd>
                                </dl>
                                <dl>
                                    <dd class="flex items-center mb-3 justify-around font-semibold text-sm">
                                        1 Star
                                        <div class=" bg-gray-300 rounded h-2.5 w-[70%] mr-2">
                                            <div class="bg-yellow-400 h-2.5 rounded  w-[89%]"></div>
                                        </div>
                                        <span class="text-sm font-medium text-gray-500 dark:text-gray-400">
                                            (10)
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w-full ">
        <div class="p-2 flex gap-3 text-sm ">
            <button class="border border-gray-300 py-2 px-5">All</button>
            <button class="border border-gray-300 py-2 px-5">5 Star</button>
            <button class="border border-gray-300 py-2 px-5">4 Star</button>
            <button class="border border-gray-300 py-2 px-5">3 Star</button>
            <button class="border border-gray-300 py-2 px-5">2 Star</button>
            <button class="border border-gray-300 py-2 px-5">1 Star</button>
        </div>
    </section>

    <section class="w-full  mt-3">
        <div class="py-12 px-4 md:px-6 2xl:px-0 2xl:container 2xl:mx-auto flex justify-center items-center">
            <div class="flex flex-col justify-start items-start w-full space-y-8">

                @foreach(var review in Reviews)
                {
                    <div class="w-full flex justify-start items-start flex-col bg-gray-50 p-8">
                        <div class="flex flex-col md:flex-row justify-between w-full">
                            <div class="flex flex-row justify-between items-start">
                                <p class="text-xl md:text-2xl font-medium leading-normal text-gray-800">
                                    @review.ReviewTitle
                                </p>
                                <button class="ml-4 md:hidden"></button>
                            </div>
                        </div>

                        <div>
                            <p class="mt-3 text-base leading-normal text-gray-600 w-full md:w-9/12 xl:w-5/6">
                               @review.Review
                            </p>
                            <div class="flex gap-5">
                                <div>
                                    <img src="https://i.ibb.co/QXzVpHp/vincent-wachowiak-8g-Cm-EBVl6a-I-unsplash-1.png"
                                         alt="chair-1"
                                         class="w-20 h-20" />
                                </div>
                                <div>
                                    <img src="https://i.ibb.co/QXzVpHp/vincent-wachowiak-8g-Cm-EBVl6a-I-unsplash-1.png"
                                         alt="chair-1"
                                         class="w-20 h-20" />
                                </div>
                            </div>
                            <p class="p-3 font-bold">@review.CustomerName</p>
                        </div>
                    </div>
                }

                
            </div>
        </div>
    </section>
</div>

<ReviewForm Product="Product" ShowReviewModal="ShowReviewModal" />