@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.layout {
    border: 2px solid red;
}

.category li {
    border: 2px solid transparent;
}

.category li:hover {
    border-bottom: 2px solid black;
}
