@page "/admin/dashboard"

<div class="">
        <div class="flex">
            <SideNav />
          <main class="p-5">
            <h1 class="text-2xl font-bold">
              My Dashboard
            </h1>

            <div class="p-5 flex gap-3">
              <div class="w-[350px] h-[150px] border border-gray-200 rounded-md shadow-md">
                <div class="p-4">
                  <div class="flex justify-between items-center">
                    <h2 class="text-gray-600 font-semibold">
                      Total Revenue
                    </h2>
                    <p class="text-green-500">59.55% </p>
                  </div>
                  <div class="p">
                    <h1 class="text-2xl font-bold">Php. 10,500.00 </h1>
                  </div>
                </div>

                <div class="w-full border-t border-gray-300 flex justify-between p-2 items-center">
                  <h2 class="text-gray-600 font-semibold">
                    Today's Revenue
                  </h2>
                  <h1 class="text-md font-bold">Php. 10,500.00 </h1>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>