@page "/"

<div class="p-3 w-full">
   <div class="p-5 w-full">
      <Header />
      <div class="w-full">
        <Category />
      </div>
      <Banner />

      <div class="flex gap-3 justify-center">
        <Card
          ImageDisplay="https://img.ltwebstatic.com/images3_pi/2023/07/03/1688379080a638749d2b49ceb2e8ade48eca43d42e_thumbnail_600x.jpg"
          Title="Travis Scott Tee"
          Price="Php 550.00"
          SalePrice="750.00"
        />
        <Card
          ImageDisplay="//img.ltwebstatic.com/images3_pi/2023/03/17/16790176823c317cdc631a17201f25bba1d3c49f28_thumbnail_600x.jpg"
          Title="Manfinity EMGRG"
          Price="Php 475.50"
          SalePrice="500.80"
        />
        <Card
          ImageDisplay="//img.ltwebstatic.com/images3_pi/2023/08/10/ce/1691667276e4c5164d98cb94e82db09fe232d7715b_thumbnail_720x.jpg"
          Title="Palm Tee"
          Price="Php 825.00"
          SalePrice="1080.00"
        />
        <Card
          ImageDisplay="//img.ltwebstatic.com/images3_pi/2023/08/16/4b/1692165407e824c4f179e01aa3738c86dd6473e6cb_thumbnail_900x.jpg"
          Title="Los Angeles Sweatshirt"
          Price="Php 1,350.00"
          SalePrice="1,500.00"
        />
      </div>
    </div>


</div>
